<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994950704266-5i8tj3taj1oshtaf6ibjt595ueeho7m3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994950704266-5i8tj3taj1oshtaf6ibjt595ueeho7m3</string>
	<key>API_KEY</key>
	<string>AIzaSyBfz0gjMUH-kVrKfJ2DSP9L1h1Dq_QnTJY</string>
	<key>GCM_SENDER_ID</key>
	<string>994950704266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coolcard-game</string>
	<key>PROJECT_ID</key>
	<string>coolcardgame</string>
	<key>STORAGE_BUCKET</key>
	<string>coolcardgame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994950704266:ios:ec07df1c411548187c5173</string>
	<key>DATABASE_URL</key>
	<string>https://coolcardgame-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>